<!-- src/app/shared/components/footer/footer.component.html -->
<footer class="footer-container">
  <div class="footer-socials">
    <!-- <a [href]="githubUrl" target="_blank" [attr.aria-label]="'FOOTER.GITHUB_ARIA' | translate" mat-icon-button>
      <i class="fab fa-github"></i>
    </a> -->
    <a [href]="'mailto:' + emailAddress" [attr.aria-label]="'FOOTER.EMAIL_ARIA' | translate" mat-icon-button>
      <mat-icon>email</mat-icon>
    </a>
    <a [href]="linkedinUrl" target="_blank" [attr.aria-label]="'FOOTER.LINKEDIN_ARIA' | translate" mat-icon-button>
      <i class="fab fa-linkedin"></i>
    </a>
    <a [href]="instagramUrl" target="_blank" [attr.aria-label]="'FOOTER.INSTAGRAM_ARIA' | translate" mat-icon-button>
      <i class="fab fa-instagram"></i>
    </a>
    <a [href]="facebookUrl" target="_blank" [attr.aria-label]="'FOOTER.FACEBOOK_ARIA' | translate" mat-icon-button>
      <i class="fab fa-facebook"></i>
    </a>
    <a [href]="whatsappLink" target="_blank" [attr.aria-label]="'FOOTER.WHATSAPP_ARIA' | translate" mat-icon-button>
      <i class="fab fa-whatsapp"></i>
    </a>
    <a [href]="'tel:' + phoneNumber" [attr.aria-label]="'FOOTER.PHONE_ARIA' | translate" mat-icon-button>
      <mat-icon>phone</mat-icon>
    </a>
  </div>

  <div class="footer-separator"></div>

  <div class="footer-bottom-bar">
    <div class="footer-copyright">
      <!-- Ora la traduzione del copyright e del credito sviluppatore è corretta -->
      <span>
        {{ 'FOOTER.COPYRIGHT' | translate: {year: currentYear} }}
        <span class="developer-credit">
          {{ 'FOOTER.DEVELOPED_BY_PREFIX' | translate }} <a [href]="developerWebsiteUrl" target="_blank" rel="noopener noreferrer">{{ 'FOOTER.DEVELOPER_NAME' | translate }}</a>
        </span>
      </span>
    </div>
  </div>
</footer>
