<!-- src/app/pages/trucco-sposa/trucco-sposa.component.html -->

<section class="trucco-sposa-container">
  <h1 class="page-title">{{ 'TRUCCO_SPOSA.TITLE' | translate }}</h1>
  <p class="page-subtitle">
    {{ 'TRUCCO_SPOSA.SUBTITLE' | translate }}
  </p>

  <!-- Sezione Pacchetto "Seguimi" (In Evidenza) -->
  <div class="package-highlight-card mat-elevation-z8">
    <div class="highlight-content">
      <h2 class="highlight-title">{{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_TITLE' | translate }}</h2>
      <p class="highlight-description">
        {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_DESCRIPTION' | translate }}
      </p>
      <ul class="highlight-features">
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_1' | translate }}</li>
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_2' | translate }}</li>
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_3' | translate }}</li>
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_4' | translate }}</li>
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_5' | translate }}</li>
        <li><mat-icon>check_circle</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_FEATURE_6' | translate }}</li>
      </ul>
      <button mat-raised-button color="accent" routerLink="/contatti"
              [attr.aria-label]="'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_BUTTON_ARIA' | translate">
        {{ 'TRUCCO_SPOSA.PACKAGE_FOLLOW_ME_BUTTON' | translate }}
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div class="highlight-image-container">
      <img src="../../../assets/trucco-sposa-seguimi.png" alt="" class="highlight-image">
    </div>
  </div>

  <!-- Sezione Pacchetto "Trucco Sposa Normale" -->
  <div class="package-card mat-elevation-z4">
    <div class="package-content">
      <h2 class="package-title">{{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_TITLE' | translate }}</h2>
      <p class="package-description">
        {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_DESCRIPTION' | translate }}
      </p>
      <ul class="package-features">
        <li><mat-icon>check_circle_outline</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_FEATURE_1' | translate }}</li>
        <li><mat-icon>check_circle_outline</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_FEATURE_2' | translate }}</li>
        <li><mat-icon>check_circle_outline</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_FEATURE_3' | translate }}</li>
        <li><mat-icon>check_circle_outline</mat-icon> {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_FEATURE_4' | translate }}</li>
      </ul>
      <button mat-stroked-button color="primary" routerLink="/contatti"
              [attr.aria-label]="'TRUCCO_SPOSA.PACKAGE_STANDARD_BUTTON_ARIA' | translate">
        {{ 'TRUCCO_SPOSA.PACKAGE_STANDARD_BUTTON' | translate }}
        <mat-icon>email</mat-icon>
      </button>
    </div>
    <div class="package-image-container">
      <img src="../../../assets/trucco-sposa-standard.png" alt="" class="package-image">
    </div>
  </div>

  <!-- Call to Action Finale -->
  <div class="cta-section mat-elevation-z4">
    <h2>{{ 'TRUCCO_SPOSA.CTA_HEADING' | translate }}</h2>
    <p>{{ 'TRUCCO_SPOSA.CTA_DESCRIPTION' | translate }}</p>
    <button mat-raised-button color="accent" routerLink="/contatti"
            [attr.aria-label]="'TRUCCO_SPOSA.CTA_BUTTON_ARIA' | translate">
      {{ 'TRUCCO_SPOSA.CTA_BUTTON' | translate }}
      <mat-icon>event</mat-icon>
    </button>
  </div>
</section>
